COMPOSE_PROJECT_NAME=async-job-search

DATABASE_HOST: postgres
DATABASE_PORT: 5432
POSTGRES_DB=async_job_search
POSTGRES_PASSWORD=async_job_search
POSTGRES_USER=async_job_search

HTTP_HOST: 0.0.0.0
HTTP_PORT: 8080

# Значение оборачивается в одинарные кавычки: они запрещают Docker Compose
# интерполировать `$...` внутри cookie.
HABR_CAREER_COOKIE=''
