<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    cacheDirectory="storage/temp/phpunit"
    colors="true">
    <testsuites>
        <testsuite name="suite">
            <directory>tests/Suite</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DATABASE_HOST" value="postgres" force="true"/>
        <env name="DATABASE_PORT" value="5432" force="true"/>
        <env name="DATABASE_NAME" value="async_job_search_test" force="true"/>
        <env name="DATABASE_USER" value="async_job_search_test" force="true"/>
        <env name="DATABASE_PASSWORD" value="async_job_search_test" force="true"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <report>
            <text outputFile="storage/temp/phpunit/coverage.txt" showOnlySummary="true"/>
            <cobertura outputFile="storage/temp/phpunit/cobertura.xml"/>
            <html outputDirectory="storage/temp/phpunit/html" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="storage/temp/phpunit/junit.xml"/>
    </logging>
</phpunit>
